 .container-fluid{
   justify-content: center;
   max-width: 90vw;
 }

.section1{
  text-align: center;
}

.section1 p{
  width: 70%;
  margin: auto;
}

strong{
  font-size: 3.5em;
}

.head-button{
  border: 5px solid rgb(245, 27, 194);
  color: rgb(245, 27, 194);
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 0.8em;
}

.pink
{
  background: rgb(245, 27, 194);
  color: white;
}

.section1_flex, .section2_flex, .section3, .section4_flex, .section6_flex
{
  display: flex;
}

.section1_flex{
justify-content: space-around;
}

.section5{
  text-align: center;
}

.image{
  width: 75%;
}

.title_and_paragraph{
  width: 50%;
}

.section2_flex, .section4_flex
{
  background: hsl(207, 100%, 98%);
  transform: translateY(-1.7%);
}

 .image-translate{
   transform: translateY(-15%);
 }

.section6_flex{
  background: hsl(192, 100%, 9%);
  color: white;
  transform: translateY(-1.7%);
}

.firt_part, .second_part{
  margin-right: 5%;
  margin-left: 5%;
}

.icons{
  margin: 10px;
}

.facebook:hover{
  transform: scale(2);
  color: #3B5998;
}

.instagram:hover{
  transform: scale(2);
  color: #F56040;
}

.twitter:hover{
  transform: scale(2);
  color: #1DA1F2;
}

.email
{
  color: rgba(0,0,0,0.7);
}

@media screen and (max-width: 720px) {
  .section1_flex, .section2_flex, .section3, .section4_flex, .section6_flex
  {
    display: block;
  }

  .section2_flex, .section4_flex
  {
    background: hsl(207, 100%, 98%);
    transform: translateY(-5.5%);
  }

  .section6_flex{
    background: hsl(192, 100%, 9%);
    color: white;
    transform: translateY(-5.5%);
  }

  .image-translate{
    transform: translateY(-85%);
  }

  .title_and_paragraph{
    width: 50%;
    margin: 5%;
  }
}
